<ion-header>
  <ion-toolbar>
    <ion-title>Main View</ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane when="(min-width: 1024px)" contentId="main-two">
  <ion-menu contentId="main-two">
    <ion-header>
      <ion-toolbar> </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Menu Content </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-two">
    <ion-header>
      <ion-toolbar> </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Main View Content </ion-content>
  </div>
</ion-split-pane>
