<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button
    routerLink="/storage-api"
    expand="block"
    fill="clear"
    shape="round"
  >
    Storage API
  </ion-button>
  <ion-button
    routerLink="/split-pane-demo"
    expand="block"
    fill="clear"
    shape="round"
  >
    Split pane demo
  </ion-button>

  <ion-button
    routerLink="/toast-examples"
    expand="block"
    fill="clear"
    shape="round"
  >
    Toast Examples
  </ion-button>

  <ion-button
    routerLink="/example-animation"
    expand="block"
    fill="clear"
    shape="round"
  >
    Example animation
  </ion-button>
</ion-content>
