#box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    animation: fadeIn 0.35s ease-in-out forwards;
    align-items: flex-end;


    .menu {
        height: auto;
        background: #FFF;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;
        width: 100%;
    }

    &.expandable, &.collapsed {
        display: flex;
    }

    &.expandable {
        .menu {
            transform: scaleY(0);
            transform-origin: bottom;
            // animation: scaleUp 0.2s ease-in-out 0.5s forwards;
            animation: scaleUp 0.2s ease-in-out 0.3s forwards;
        }
    }

    &.collapsed {
        .menu {
            transform: scaleY(1);
            transform-origin: bottom;
            // animation: scaleDown 0.2s ease-in-out 0.5s forwards;
            animation: scaleDown 0.2s ease-in-out 0.3s forwards;
        }
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes scaleDown {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}